footer{
    background-color: #800000;
    width: 100%;
    position:absolute;
    margin-bottom: auto;
  }
  h1{
    color:#800000;
}



a#js{
    text-decoration: none;
}
a#js:link{
    color:rgb(123, 243, 139)
}

a#js:visited{
    color:rgb(89, 40, 139)
}

a#js:hover{
    color:rgb(230, 54, 230)
}

a#cc{
    text-decoration: none;
}
a#ht{
    text-decoration: none;
}
a#kcc{
    text-decoration: none;
}
a#lc{
    text-decoration: none;
}
a#c{
    text-decoration: none;
}
a#cpg{
    text-decoration: none;
}
a#jsfun{
    text-decoration: none;
}
a#mjsfun{
    text-decoration: none;
}

.col-sm{
    background-color: rgb(218, 233, 247);
    padding: 10px;
}

#playbutton{
    border: 0;
    background-color: transparent;
}

.container-fluid{
    background-color: #d9d9d9;
    height: 80px;
    font-size: large;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#cb_button{
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9ce;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


  
  .container-footer {
    min-height: calc(100vh - 150px);
  }

       /* Style for the grid container */
       .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-gap: 20px; 
    }

    /* Style for grid items */
    .grid-item {
        background-color: #838383;
        padding: 100px;
        text-align: center;
    }
    body {
        color: #800000;
      }
      
      .header {
        background-color: #800000;
        color: #800000;
      }
    nav a {
        color: #d5caca; 
    }
