h1{
    color:rgb(70, 110, 210);
}
h3{
    color:rgb(125, 179, 230)
}

p{
    color:rgb(196, 210, 232)
}

a#js{
    text-decoration: none;
}
a#js:link{
    color:rgb(123, 243, 139)
}

a#js:visited{
    color:rgb(89, 40, 139)
}

a#js:hover{
    color:rgb(230, 54, 230)
}

a#cc{
    text-decoration: none;
}
a#ht{
    text-decoration: none;
}
a#kcc{
    text-decoration: none;
}
a#lc{
    text-decoration: none;
}
a#c{
    text-decoration: none;
}
a#cpg{
    text-decoration: none;
}

.col-sm{
    background-color: rgb(218, 233, 247);
    padding: 10px;
}

#playbutton{
    border: 0;
    background-color: transparent;
}